@use "../../Utils/animation.scss" as animate;
@use "../../Utils/color.scss" as bg;
@use "../../Utils/flex.scss" as flex;

.reviews_component {

    position: relative;
    height: 90%;
    width: 100%;

    @include flex.flex_column;
}

.review_create_form {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
@include flex.flex_column
}

.review_create_input {
    height: 50px;
    width: 90%;
    border: 0;
    background-color: bg.$primary_color;
    color: bg.$neutral_color;
    border-radius: 5px;
    padding-left: 5px;
    align-self: center;
}

.all_reviews_list {
    width: 100%;
    @include flex.flex_column{align-items: center};
    flex: 0 0 auto;

}
.each_review{
    @include flex.flex_column;
    width:90%;
    margin-bottom: 10px;
    background-color: #EFEFEF;
    border-radius: 5px;
    & .info{
        width:100%;
        @include flex.flex_row;
        margin:5px 0;
        img{
            width:70px;
            height:70px;
            border-radius: 100%;
            margin: 0 5px
        }
        .creator_info{
            height: 70px;
            width:100%;
            @include flex.flex_column{
                justify-content: center;
            }
        }
    }
    & p{
        margin:0 5px;
        font-size: .8em;
    }
    &:hover{
    transform: scale(1.02);
    }
}