@use "../../Utils/animation.scss" as animate;
@use "../../Utils/color.scss" as bg;
@use "../../Utils/flex.scss" as flex;
@use "../../Utils/button.scss" as btn;


.single_product {
    width: 40%;
    flex: 1 1 auto;
    @include flex.flex_column;

    & main {
        margin-top: 80px;

        @include flex.flex_row {
            justify-content: space-between;
        }

        ;
        overflow-y: scroll;

        @media (min-width:800px) {

            .gallery_holder,
            .main_holder {
                width: 48%;
                height: calc(100vh - 90px);
            }
        }


        @media (max-width:800px) {
            flex-direction: column;
            align-items: center;

            .gallery_holder {
                width: 98%;
                height: 400px;
            }

            .main_holder {
                width: 98%
            }
        }
    }
}

.gallery_holder {
    align-self: center;
    flex: 0 0 auto;

    @media (max-width:600px) {
        width: 90%;
    }

    & .gallery_component {
        width: 100%;
        height: 100%;

        @include flex.flex_column {
            justify-content: center;
            align-items: center
        }

        ;

        // all image holder
        & .main_img {
            margin-bottom: 2%;
            width: clamp(200px, 300px, 100%);
            height: clamp(200px, 300px, 100%);

            &:hover {
                transform: scale(1.05);
            }

            @include flex.flex_row {
                justify-content: center;
                align-items: center
            }

            ;
            overflow: hidden;

            & img {
                opacity: 0;
                width: 0;
                height: 0;
                flex: 0 0 auto;
                transform: translateY(-200%);
            }

            & .active_img {
                width: 100%;
                height: 100%;
                opacity: 1;
                transform: translateY(0)
            }
        }

        // image control
        .img_control {
            height: clamp(15%, max-content, 20%);
            width: 50%;

            @include flex.flex_row {
                justify-content: center;
                align-items: center;
            }

            button {
                width: 30px;
                height: 30px;
                margin-right: 15px;
                border: 0;
                border-radius: 5px;
                font-size: 1.5em;
                text-align: center;
                background-color: bg.$accent_color;
                color: bg.$primary_color;

                &:hover {
                    transform: scale(1.08);
                }
            }
        }
    }
}

.main_holder {
    @include flex.flex_column {
        justify-content: center;
        align-items: center;
    }

    ;

}

.single_product_info {
    // background-color: rgb(43, 185, 0);
    flex: 0 0 auto;
    width: 98%;
    margin: 5px 0;
    overflow-y: scroll;
    height: calc(100% - 60px);

    @include flex.flex_column {
        align-items: center;

        @media (min-width:800px) {
            justify-content: center
        }
    }

    ; & header {
         width: 98%;
         text-transform: capitalize;
         margin-bottom: 5px;
         @include flex.flex_column;
         height: calc(max-content + 10px);
         // height: 10%;
         flex: 0 0 auto;
    
         h3 {
             height: max-content;
             width: 100%;
         }
    
         h5 {
             height: max-content;
             width: 100%;
    
             &:last-of-type {
                 text-transform: lowercase;
    
             }
         }
     }

    .single_product_article {
        // display: none;
        width: 98%;
        height: 70%;
        overflow-y: scroll;
        flex: 1 1 auto;

        p {
            font-size: .8em;
        }

        h4 {
            text-decoration: underline;
            text-decoration-color: bg.$accent_color;
            text-decoration-thickness: 3px;
            margin-bottom: 5px;
            font-style: italic;
        }
    }

   



    & footer {
        height: 18%;
        width: 98%;
        @include flex.flex_column;
        margin-bottom: 15px;
        // padding: 5px;
        flex: 0 0 auto;

        & aside {
            width: 100%;
            margin-bottom: 1%;

            .quantity_control {
                @include flex.flex_column;
                text-transform: capitalize;

                margin: 5px 0;

                h5 {
                    text-decoration: underline;
                    text-decoration-color: bg.$accent_color;
                    text-decoration-thickness: 3px;
                    margin-bottom: 5px;
                    font-style: italic;
                }

                & section {
                    width: 100%;
                    height: 80%;
                    @include flex.flex_row;
                    margin: 1% 0;

                    button {
                        width: 20px;
                        height: 20px;
                        border: 0;
                        border-radius: 2px;
                        color: bg.$neutral_color;
                        background-color: bg.$primary_color;
                        font-size: 1.04em;

                        &:hover {
                            transform: scale(1.03);
                            color: bg.$accent_color
                        }
                    }

                    h4 {
                        margin: 0 10px;
                    }
                }
            }

            .price_display {
                h5 {
                    font-weight: 900;
                    font-family: bold_font;
                    text-transform: capitalize;
                }
            }
        }

        & .btn_holder {
            margin: 5px 0;
            width: 100%;
            flex: 0  0 auto;
            height: 50px;
            @include flex.flex_row {
                justify-content: space-around;
            }

            button {
                border: 0;
                @include btn.btn_style;
                // font-size: .7em;
                width: 48%;
                height: 40px;
                // text-align: left;
                padding: 0;

            }
        }

    }

}

.info_show {
    flex: 0 0 auto;
    width: 98%;
    height: 50px;
    margin: 5px 0;

    @include flex.flex_row {
        justify-content: space-evenly;
        align-items: center;
    }

    button {
        background-color: transparent;
        border: 0;
        // margin-right: 10px;
        text-transform: capitalize;
    }

    .active {
        text-decoration: underline;
        text-decoration-color: bg.$accent_color;
        text-decoration-thickness: 5px;
        font-style: italic;
    }
}

.seller_info {
    // background-color: red;
    width: 98%;
    margin: 10px 0;

    .img_holder {
        @include flex.flex_column {
            align-items: center;
        }

        &:hover {
            transform: scale(1.03)
        }

        ;

        & img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin-top: 5px;
            border: 2px solid black;
        }
    }

    .main_info {
        width: 100%;
        @include flex.flex_column;

        & aside {
            margin: 2px;

            h5 {
                background-color: bg.$accent_color;
                width: max-content;
                padding: 5px;
                text-transform: capitalize;
            }
        }
    }
}