@use "../../Utils/animation.scss" as animate;
@use "../../Utils/color.scss" as bg;
@use "../../Utils/flex.scss" as flex;

.primary_nav {
    height: 100%;
    width: 30%;
    color: bg.$neutral_color;

    @include flex.flex_column;

    // media query
    @media (max-width: 800px) {
        width: 50%;
        font-size: .7em;
    }
}

// nav header
.primary_nav_header {
    background-color: bg.$neutral_color;
    color: bg.$primary_color;
    height: 10%;
    width: 100%;
    margin-bottom: 2%;


    @include flex.flex_row {
        // justify-content: space-around;
        align-items: center
    }

    ;

    img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 0 2%
    }

    h4 {
        width: max-content;
        font-size: 1.2em;

    }
}

// links container
.all_primary_nav_links_holder {
    width: 100%;
    background-color: bg.$primary_color;
    height: 80%;
    flex: 1 1 auto;
    border-radius: 0 50px 0 0;

    @include flex.flex_column {
        align-items: center;
        justify-content: space-between;
    }

    .main_part {
        width: 80%;
        height: 70%;
        margin-top: 5%;
        @include flex.flex_column;
    }

    .secondary_part {
        width: 80%;
        height: 8%;
        margin: 0 0 20% 0;

        .each_primary_nav_link_holder {
            margin: 0;
        }
    }
}

// styling each links container
.each_primary_nav_link_holder {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    @include flex.flex_row;

    .active,
    .each_primary_nav_link:hover {
        color: bg.$accent-color;

        .primary_nav_icon {
            fill: bg.$accent-color;
        }
    }

}

// styling each link
.each_primary_nav_link {
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    height: 100%;

    @include flex.flex_row {
        align-items: center;

    }

    ;
    color: bg.$neutral_color;

    // styling icon
    .primary_nav_icon {
        fill: bg.$neutral_color;
        margin: 0 10%;
        transform: scale(1.2);
    }
}

// hide nav class
.hide_primary_nav {
    transform: translateY(-100vh);
    width: 0;
    height: 0;
    opacity: 0;
}